<form>
    <fieldset>
        <div class="mx-auto" style="width: 50%;">
            <div class="form-group pl-4">
                <label for="exampleInputEmail1" class="mt-3">Task Title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter your task..." [(ngModel)]="title" name="title">
                <small id="emailHelp" class="form-text text-muted">We'll never share your tasks with anyone
                    else.</small>
            </div>
            <div class="form-group  mx-auto pl-4">
                <label for="exampleInputPassword1">Task description</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter description..."
                    [(ngModel)]="description" name="description">
            </div>
            <div class="form-group mx-auto pl-4">
                <label for="exampleSelect1">Priority</label>
                <select class="form-control" id="exampleSelect1" [(ngModel)]="priority" name="priority">
                    <option>Low</option>
                    <option>Low medium</option>
                    <option>Medium</option>
                    <option>High medium</option>
                    <option>High</option>
                </select>
            </div>
            <div class="form-group ml-auto">
                <div class="ml-auto" style="width: 16%;">
                    <button type="button" class="btn btn-outline-primary mx-auto" *ngIf="!editClicked; else elseBlock" (click)="onAddTask()">Save
                        task
                    </button>
                    <ng-template #elseBlock>
                        <button type="button" class="btn btn-outline-primary mx-auto">Edit
                            task
                        </button>
                    </ng-template>
                </div>
                <div class="alert alert-dismissible alert-success ml-auto mt-3" *ngIf="emptyValues">
                    <strong>Well done!</strong> You successfully added a new task.
                </div>
            </div>
        </div>
    </fieldset>
</form>